<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">Xác nhận xóa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('close')"></button>
  </div>
  <div class="modal-body">
    <p>Bạn có muốn chắc muốn xóa không&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss('close')">Close</button>
    <button type="button" class="btn btn-light" (click)="delete()">Save</button>
  </div>
</ng-container>

